*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: var(--font-text);
    background: linear-gradient(to bottom, var(--color-fonce), var(--color-claire)) no-repeat;
}

h1,
h3,
.button__inscritpion{
    font-weight: 700;
    font-style: italic;
    font-family: var(--font-title);
}

h3{
    font-size: var(--size-title);
}

h2{
    font-family: var(--font-title);
    font-size: var(--size-valeur);
}

.equipe__title{
    font-family: var(--font-title);
    font-size: var(--size-title);
}

.logo__text{
    font-family: var(--font-logo);
}

.banniere__slogan{
    font-size: var(--size-slogan);
}

.equipe__title{
    display: inline-block;
    margin: 20vh 0 0 2vw;
}

p{
    margin-bottom: 1rem;
}

.equipe__presentation{
    margin: 5vh 3vw;
    padding: 7vh 5vw calc(7vh - 1rem) 5vw;
    color: var(--color-text-claire);
    line-height: 1.5rem;
    background-color: var(--color-deco);
    border-radius: 25px;
}