*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--color-fonce), var(--color-claire)) no-repeat;
}

