*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: var(--font-text);
    background: linear-gradient(to bottom, var(--color-fonce), var(--color-claire)) no-repeat;
}

h1,
h3,
.button__inscritpion,
footer{
    font-weight: 700;
    font-style: italic;
    font-family: var(--font-title);
}

h2{
    font-family: var(--font-title);
    font-size: var(--size-valeur);
}

h3{
    font-size: var(--size-title);
}

h4{
    font-family: var(--font-title);
    font-size: var(--size-contact);
}

p{
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
    color: var(--color-text);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--color-texte-blanc);
}

.logo__text{
    width: 100%;
    text-align: center;
    font-family: var(--font-logo);
}

.title{
    display: inline-block;
    margin: 15vh 0 10vh 4vw;
    font-family: var(--font-title);
    font-size: var(--size-title);
}

.title-text{
    color: white;
}

.equipe__presentation{
    margin: 10vh 3vw 0 3vw;
    padding: 7vh 5vw calc(7vh - 1rem) 5vw;
    color: var(--color-text-claire);
    line-height: 1.5rem;
    background-color: var(--color-deco);
    border-radius: 25px;
}

.conditions{
    padding: 30vh 3vw 10vh 3vw;
}

.conditions__title{
    text-transform: uppercase;
    margin-bottom: 10vh;
}