*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: var(--font-text);
    background: linear-gradient(to bottom, var(--color-fonce), var(--color-claire)) no-repeat;
}

h1,
.button__inscritpion{
    font-weight: 700;
    font-style: italic;
    font-family: var(--font-title);
}

h2{
    font-size: var(--size-title);
}

.logo__text{
    font-family: var(--font-logo);
}

.banniere__slogan{
    font-size: var(--size-slogan);
}

.souligne{
    margin-top: -20px;
    height: 25px;
    background-color: var(--color-deco);
}