:root{
    /* Color styles */
--color-fonce: rgba(39, 208, 168, 0.80);
--color-claire: rgba(158, 248, 194, 1);
--color-text: rgba(0, 0, 0);
--color-deco: rgba(30, 144, 138);

    /* Font Size */
--size-slogan: 3rem;
--size-title: 2.7rem;
--size-text: 1rem;
--size-button: 1.5rem;

    /* Font family style */
--font-logo: "Rock Salt";
--font-title: "Roboto";
--font-text: "Lato";
}