:root{
    /* Color styles */
--color-fonce: rgba(39, 208, 168, 0.80);
--color-claire: rgba(158, 248, 194, 1);
--color-text: rgba(0, 0, 0);
--color-text-claire: rgba(255, 255, 255);
--color-deco: rgba(30, 144, 138);
--color-ombre: rgba(30, 144, 138, 1);

    /* Font Size */
--size-slogan: 3rem;
--size-valeur: 2.7rem;
--size-title: 2.3rem;
--size-button: 3rem;   
--size-nom: 2rem;
--size-contact: 2rem;
--size-text: 1rem;

    /* Font family style */
--font-logo: "Rock Salt";
--font-title: "Roboto";
--font-text: "Lato";

}