.equipe{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.equipe__avatar{
    display: flex;
    flex-direction: column;
    width: 22vw;
    align-items: center;
    border-radius: 20px;
}

.avatar__nom{
    font-family: var(--font-title);
    font-size: var(--size-nom);
    margin: 1vh 0
}

.avatar__text{
    margin: 0.5vh 0;
    font-size: var(--size-text);
}

.equipe__avatar:hover .avatar__nom{
    font-weight: 700;
    color: var(--color-deco);
}

.equipe__avatar:hover{
    box-shadow: 5px 10px 10px var(--color-deco);
}