.souligne{
    height: 25px;
    background-color: var(--color-deco);
}

.slogan__souligne{
    margin-top: -20px;
    width: 390px;
}

.equipe__souligne{
    margin-top: -17px;
    margin-left: -5px;
    width: 230px;
}