.vague_1{
    position: absolute;
    height: 80vh;
    top: 55vh;
    right: -20px;
}

.vague_2{
    position: absolute;
    height: 55vh;
    margin-top: -20vh;
}

.vague_3{
    position: absolute;
    right: 0;
    margin-top: -80vh;
}