button{
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
}

.button__inscritpion{
    font-size: var(--size-button);
    display: flex;
    align-items: center;
}

.button__inscritpion::after,
.button__inscritpion::before{
    cursor: pointer;
    content: " ";
    display: inline-block;
    width: 190px;
    height: 50px;
    border: 1px solid black;
    border-radius: 3px;
}

.button__inscritpion::after{
    margin-left: -147px;
    margin-top: -8px;
}

.button__inscritpion::before{
    margin-right: -147px;
    margin-bottom: -8px;
}