button{
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
}

.button__inscritpion{
    width: 100%;
    font-size: var(--size-button);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__inscritpion::after,
.button__inscritpion::before{
    cursor: pointer;
    content: " ";
    display: inline-block;
    width: 360px;
    height: 90px;
    border: 1px solid black;
    border-radius: 10px;
}

.button__inscritpion::after{
    margin-left: -290px;
    margin-top: -10px;
    box-shadow: -2px 1px 5px var(--color-ombre);
}

.button__inscritpion::before{
    margin-right: -295px;
    margin-bottom: -10px;
    box-shadow: -2px 1px 5px var(--color-ombre);
}

.button__inscritpion:hover::after{
    box-shadow: inset -2px 1px 5px var(--color-ombre);
}

.button__inscritpion:hover::before{
    box-shadow: inset -2px 1px 5px var(--color-ombre);
}