.contact{
    display: flex;
    width: 90vw;
    height: 80vh;
    margin: 0 auto;
    padding: 1%;
    background-color: var(--color-deco);
    color: var(--color-text-claire);
    border: 5px solid var(--color-deco);
    border-radius: 25px;
}

.contact__info{
    width: 35%;
    height: 100%;
    padding: 1%;
    border-right: 5px solid var(--color-text-claire);
}

.contact a{
    color: var(--color-text-claire);
}

.contact__contact{
    margin: 7vh 0;
}

.contact__items{
    margin: 5vh 0;
    display: flex;
    align-items: center;
}

address{
    display: inline;
}

.contact__img{
    margin-right: 1rem;
}

.cercle_1,
.cercle_2,
.cercle_3{
    position: absolute;
    border-radius: 100%;
    background: transparent;
}

.cercle_1{
    left: 28vw;
    margin-top: -20vh;
    width: 15vw;
    height: 15vw;
    border: 7.5vw solid var(--color-text-claire);
    border-left: 7.5vw solid transparent;
    border-top: 7.5vw solid transparent;
    border-right: 7.5vw solid transparent;
    rotate: 45deg;
}

.cercle_2{
    left: 25vw;
    margin-top: -20vh;
    width: 20vw;
    height: 20vw;
    border: 10vw solid var(--color-text-claire);
    border-top: 10vw solid transparent;
    border-right: 10vw solid transparent;
    rotate: 45deg;
}

.cercle_3{
    margin-left: -1vw;
    margin-top: -2vh;
    width: 28VW;
    height: 28vw;
    border: 14vw solid var(--color-text-claire);
    border-bottom: 14vw solid transparent;
    border-right: 14vw solid transparent;
    rotate: 45deg;
}

.carre{
    position: absolute;
    margin-top: 14vh;
    left: 28.5vw;
    width: 100px;
    height: 100px;
    background-color: var(--color-text-claire);
}

.contact__reseau{
    display: flex;
    position: absolute;
}

.reseau__items{
    margin: 13vh 4vw;
}