.espace_contact{
    margin: 5vw;
    padding-top: -10vh;
    height: max-content;
    background-color: var(--color-deco);
    border: 5px solid var(--color-deco);
    border-radius: 25px;
}

.contact{
    display: flex;
    width: 90vw;
    height: 80vh;
    margin: 0 auto;
    padding: 1%;
    color: var(--color-text-claire);
}

.contact__info{
    position: relative;
    width: 35%;
    height: 100%;
    padding: 1%;
    border-right: 5px solid var(--color-text-claire);
    overflow: hidden;
}

.contact a{
    color: var(--color-text-claire);
}

.contact__contact{
    margin: 7vh 0;
}

.contact__items{
    margin: 5vh 0;
    display: flex;
    align-items: center;
}

address{
    display: inline;
}

.contact__img{
    margin-right: 1rem;
}

.cercle_1,
.cercle_2,
.cercle_3{
    position: absolute;
    border-radius: 100%;
    background: var(--color-text-claire);
}

.cercle_1{
    right: -15vh;
    top: -15vh;
    width: 15vw;
    height: 15vw;
}

.cercle_2{
    right: -30%;
    bottom: 10vh;
    width: 20vw;
    height: 20vw;
}

.cercle_3{
    bottom: -30%;
    width: 100%;
    height: 28vw;
}

.contact__reseau{
    display: flex;
    position: absolute;
}

.reseau__items{
    margin: 13vh 4vw;
}