.header__logo{
    position: absolute;
    margin-top: 3vh;
    width: 100vw;
    justify-content: center;
}

.header__banniere{
    display: flex;
    width: 100vw;
    align-items: center;
}

.banniere__illustration{
    display: inline-block;
    width: 40vw;
    margin: 5vh 0;
}

.bannniere__text{
    width: auto;
    height: auto;
}

.banniere__droit{
    display: flex;
    flex-direction: column;
    height: 70vh;
    margin: 0 12vw;
    justify-content: space-around;
    align-items: center;
}

.banniere__slogan{
    font-size: var(--size-slogan);
}

.banniere__slogan:hover{
    color: var(--color-text-claire);
    transition: all 0.5s;
}