.valeur,
.valeur-inverse{
    display: flex;
    width: 100%;
    padding: 15vh 15vw;
    align-items: center;
}

.valeur-inverse{
    justify-content: space-between;
}

.valeur__img{
    height: 45vh;
    transition: all ease-in-out 0.3s;
}

.valeur-inverse:hover .valeur__img{
    scale: 1.1;
    transform: rotate(5deg);
}

.valeur:hover .valeur__img{
    scale: 1.1;
    transform: rotate(-5deg);
}

.valeur__text-droite{
    margin-left: 10vw;
}

.valeur__text-gauche{
    margin-right: 15vw;
}

.valeur__txt{
    margin-top: 2rem;
    font-size: var(--size-text);
}

.valeur__button{
    margin: 20vh auto;
}